<div>
    <p class="textHome">Basé sur la réminiscence. -MesMots- a été conçu pour soulager ceux qui sont privés de leurs<br>
    capacités à se rappeler. Aujourd'hui ouvert à tous, immortalisons nos pensées grâce à cette<br>
    boîte à souvenirs numérique, pour le simple plaisir de revivre un instant passé.</p>
    <div class="wrapperHome">
        <%= link_to 'Voir mes souvenirs', new_user_session_path, class: "smallRED home homebtn round" %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "linkRED home round droite" %>
    </div>
</div>
