<div>
    <p style="color:white;text-align:center;">Ma boite à souvenirs</p>
    <div style="width:30%;margin-left:auto;margin-right:auto;margin-top:5%;">
        <%= link_to 'Voir mes souvenirs', new_user_session_path, class: "buttonHome1" %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "buttonHome2" %>
    </div>
</div>