<div>
    <p style="color:white;text-align:center;">A free, fully responsive HTML5 + CSS3 site template designed by for<br />
    and released for free under the Creative Commons license.</p>
    <div style="width:30%;margin-left:auto;margin-right:auto;margin-top:5%;">
        <%= link_to 'Se connecter', new_user_session_path, style:"color:white;border-radius:10px;float:left;border:2px solid lightblue;padding:0px 6px;" %>
        <%= link_to "S'inscrire", new_user_registration_path, style:"color:white;border-radius:10px;margin-right:10%;float:right;border:2px solid lightblue;padding:0px 6px;" %>
    </div>
</div>