  <div class="tout" >
   <div class="black">
    <p class="ok"><%= @code %></p>
    <p class="you">Oups! Tu t'es perdu</p>
  <div class="lien"><button><%=link_to "Accueil", home_path,class:"Home" %></button></div>
</div>
  <footer>
    <p class="ph">La page n'a pas été trouvée</p>
    <p>Nous recherhons cette page.Êtes-vous certain d'avoir entré le bon URL?<br> N'hésitez pas à prendre contact avec le propiètaire du site que vous<br> recherchez</p>
  </footer>

</div>
