<% @pageTitle = "Page index" %>
<section class="posts">
  <% @memories.each do |memory| %>
    <article>
      <header>
        <% if memory.date %><span class="date"><%=I18n.l memory.date, :format => :long%></span><% end %>
        <h2><%= memory.title %></h2>
      </header>
      <p><%= memory.text[0..99] %>...</p>
      <ul class="actions">
        <li><%= link_to 'Lire la suite', memory, class:"smallRED" %> </li>
      </ul>
    </article>
  <% end %>
</section>
